@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto+Mono&display=swap');

/* content */
main#content a:link, main#content a:visited {
  color: #bf616a;
  text-decoration: none;
}
main#content a:hover {
  color: #deaf9d;
}
main#content {
  font-weight: 300;
  font-size: 1.18vw;
  display: grid;
  grid-template-columns: repeat(10, 9%);
  grid-column-gap: 1vw;
  grid-row-gap: 3.5vw;
  margin: 11vw 25px 5vw 25px;
}
#content figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#content figure:hover img {
	opacity: .5;
  transform: scale(1.02, 1.02);
}
.smallfont {
  font-size: 0.95em;
}
.smallerfont {
  font-size: 0.8em;
}

/* header */
#navbar {
  display: inline;
  position: fixed; 
  top: 2.25vw; 
  right: 2vw;
  word-spacing:3vw; 
  font-size:1.5vw;
  font-weight: 300;
  margin-right:15px;
  vertical-align: middle; 
  text-align: right;
}
#navbar a:link, #navbar a:visited {
  color: #f2efed;
  text-decoration: none;
}
#navbar a:hover {
  color: #deaf9d;
}
#currentpage {
  font-weight: bold;
  text-decoration: underline !important; 
}
#headerhr {
  position:absolute;
  bottom: 0;
  left: -3vw;
  width: 150%;
  border-top:0.5vw solid #deaf9d;
}

body {
  background-color: #1c1b1d;
  color: #f2efed;
  font-family: 'Poppins', sans-serif;
}
figure {
  margin: 0;
  display: inline;
}

/* footer */
footer a:link, footer a:visited {
  color: #f2efed;
}
footer a:hover {
  color: #793e44;
}
footer {
  font-family:'Roboto Mono', monospace;
  font-size: 2.25vh;
  color: #f2efed;
  word-spacing: 35px;
  background-color: #bf616a;
  height: 6vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-left: -0.5vw;
}
footer figure {
  display: block;
}

/* socmed sprite */
a.reddit {
  background: url('../images/globalimages/socmedsprite.png') no-repeat 0px 0px;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 0.9vh;
  right: 1.4vh;
}
a.reddit:hover {
  background: url('../images/globalimages/socmedsprite.png') no-repeat 0px -30px;
  width: 30px;
  height: 30px;
  transform: scale(1.1, 1.1);
}
a.geekhack {
  background: url('../images/globalimages/socmedsprite.png') no-repeat -30px 0px;
  width: 30px;
  height: 30px;
  transform: scale(1.4, 1.4);
  position: fixed;
  bottom: 0.9vh;
  right: 9vh;
}
a.geekhack:hover {
  background: url('../images/globalimages/socmedsprite.png') no-repeat -30px -30px;
  width: 30px;
  height: 30px;
  transform: scale(1.5, 1.5);
}
a.discord {
  background: url('../images/globalimages/socmedsprite.png') no-repeat -60px 0px;
  width: 30px;
  height: 30px;
  transform: scale(1.4, 1.4);
  position: fixed;
  bottom: 0.9vh;
  right: 18vh;
}
a.discord:hover {
  background: url('../images/globalimages/socmedsprite.png') no-repeat -60px -30px;
  width: 30px;
  height: 30px;
  transform: scale(1.5, 1.5);
}